<% layout('layouts/boilerplate') %>
<div class="row mb-3">
    <h1 class="text-center">Create a New Character</h1>
    <div class="col-6 offset-3">
        <form action="/characters" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="character[name]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="race">Race</label>
                <input class="form-control" type="text" id="race" name="character[race]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="class">Class</label>
                <input class="form-control" type="text" id="class" name="character[class]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="alignment">Alignment</label>
                <input class="form-control" type="text" id="alignment" name="character[alignment]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="equipments">Equipment</label>
                <input class="form-control" type="text" id="equipments" name="character[equipments]">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Create</button>
                <a class="btn btn-danger" href="/characters">Cancel</a>
            </div>
        </form>
    </div>
</div>